force-app/main/default/flows/HelpDesk_Case_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Case_Creation</name>
        <label>Case Creation</label>
        <locationX>1530</locationX>
        <locationY>862</locationY>
        <actionName>Case.Case_Details</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>notification_to_helpdesk_queue_members</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Details</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Case creation notification to helpdesk queue members</description>
        <name>notification_to_helpdesk_queue_members</name>
        <label>notification to helpdesk queue members</label>
        <locationX>1670</locationX>
        <locationY>862</locationY>
        <actionName>Case.Case_creation_notification_to_helpdesk_queue_members</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Files</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_creation_notification_to_helpdesk_queue_members</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular</name>
        <choiceText>Regular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urgent</name>
        <choiceText>Urgent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgent</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_Record_Type_Based_On_Business_Unit</name>
        <label>Assign Record Type Based On Business Unit</label>
        <locationX>163</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Unit_With_SRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SRM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SRM_Record_Type</targetReference>
            </connector>
            <label>Business Unit With SRM</label>
        </rules>
        <rules>
            <name>Business_Unit_Not_SRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SRM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Helpdesk_Record_Type</targetReference>
            </connector>
            <label>Business Unit Not SRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reference_User</name>
        <label>Check Reference User</label>
        <locationX>892</locationX>
        <locationY>859</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_User_Is_NUll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferenceUser.recordName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Helpdesk</targetReference>
            </connector>
            <label>Reference User Is NUll</label>
        </rules>
        <rules>
            <name>Reference_User_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferenceUser.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Data_of_Reference_User</targetReference>
            </connector>
            <label>Reference User Not Null</label>
        </rules>
    </decisions>
    <description>Updating Affected user visibility conditions</description>
    <dynamicChoiceSets>
        <name>AccessType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Access_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Communitytype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Community_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>User_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarBusinessSegment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Segment__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarBusinessUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Unit__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCPQLicence</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPQ_License__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varFCRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FC_Role__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varLocale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Locale__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarSuppotType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Support_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varTimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_Zone__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Condition</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!BU_BS_ST_Fields.bottomValue} == &quot;Access &amp; License Management&quot; &amp;&amp; {!Access_type} == &quot;New User&quot; &amp;&amp; ( {!User_Type} == &quot;System Admin (Non Business User)&quot; || {!User_Type} == &quot;Non-System Admin (Business User)&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>Condition1</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!BU_BS_ST_Fields.bottomValue} == &quot;Access &amp; License Management&quot;  &amp;&amp; ({!Access_type} == &quot;Existing User Deactivation&quot; ||  {!Access_type} == &quot;Existing User Activation&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>Err</name>
        <dataType>Boolean</dataType>
        <expression>IF({!BU_BS_ST_Fields.bottomValue} == &quot;Community Support&quot;, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>recordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!Case_Id}</expression>
    </formulas>
    <interviewLabel>HelpDesk Case Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create HelpDesk Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Helpdesk</name>
        <label>Create Case</label>
        <locationX>1159</locationX>
        <locationY>778</locationY>
        <assignRecordIdToReference>Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Helpdesk_Case_Created_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Type__c</field>
            <value>
                <elementReference>Access_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affected_User__c</field>
            <value>
                <elementReference>AffectedUser.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessHourId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Segment_new_helpdesk__c</field>
            <value>
                <elementReference>BU_BS_ST_Fields.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>BU_BS_ST_Fields.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPQ_License__c</field>
            <value>
                <elementReference>CPQLicence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Type__c</field>
            <value>
                <elementReference>Community_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FC_Role__c</field>
            <value>
                <elementReference>FC_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FC_User_Id__c</field>
            <value>
                <elementReference>Helpdesk_Fields.FC_User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language</field>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>Locale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Activation_Deactivation__c</field>
            <value>
                <elementReference>Reason_Activation_or_Deactivation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_User__c</field>
            <value>
                <elementReference>ReferenceUser.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Manager__c</field>
            <value>
                <elementReference>ReportingMnager.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Employee_number__c</field>
            <value>
                <elementReference>SAPEmployeenumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_UserName__c</field>
            <value>
                <elementReference>SAP_UserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>BU_BS_ST_Fields.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>Time_Zone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Email_Address__c</field>
            <value>
                <elementReference>User_Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_First_Name__c</field>
            <value>
                <elementReference>User_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Last_Name__c</field>
            <value>
                <elementReference>User_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>User_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Helpdesk_0</name>
        <label>Create Case</label>
        <locationX>1160</locationX>
        <locationY>966</locationY>
        <assignRecordIdToReference>Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Helpdesk_Case_Created_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Type__c</field>
            <value>
                <elementReference>Access_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affected_User__c</field>
            <value>
                <elementReference>AffectedUser.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessHourId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Segment_new_helpdesk__c</field>
            <value>
                <elementReference>BU_BS_ST_Fields.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>BU_BS_ST_Fields.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPQ_License__c</field>
            <value>
                <elementReference>CPQLicence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Type__c</field>
            <value>
                <elementReference>Community_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FC_Role__c</field>
            <value>
                <elementReference>FC_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FC_User_Id__c</field>
            <value>
                <elementReference>Helpdesk_Fields.FC_User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language</field>
            <value>
                <elementReference>Get_User_Data_of_Reference_User.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Activation_Deactivation__c</field>
            <value>
                <elementReference>Reason_Activation_or_Deactivation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_User__c</field>
            <value>
                <elementReference>ReferenceUser.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_User_Data_of_Reference_User.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Manager__c</field>
            <value>
                <elementReference>ReportingMnager.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Employee_number__c</field>
            <value>
                <elementReference>SAPEmployeenumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_UserName__c</field>
            <value>
                <elementReference>SAP_UserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>BU_BS_ST_Fields.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>User_Email_Address__c</field>
            <value>
                <elementReference>User_Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_First_Name__c</field>
            <value>
                <elementReference>User_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Last_Name__c</field>
            <value>
                <elementReference>User_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>User_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>481</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supportcase</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Record_Type_ID__c.BGI_Commercial_Customer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Hours</name>
        <label>Get Business Hours</label>
        <locationX>631</locationX>
        <locationY>853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Helpdesk Support Hours</stringValue>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputAssignments>
            <assignToReference>BusinessHourId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Helpdesk_Case_Created_Record</name>
        <label>Get Helpdesk Case Created Record</label>
        <locationX>1398</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Helpdesk_Record_Type</name>
        <label>Get Helpdesk Record Type</label>
        <locationX>310</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Helpdesk_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>751</locationX>
        <locationY>856</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Reference_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Score Helpdesk Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SRM_Record_Type</name>
        <label>Get SRM Record Type</label>
        <locationX>320</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SRM_Cases</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Data_of_Reference_User</name>
        <label>Get User Data of Reference User</label>
        <locationX>1032</locationX>
        <locationY>966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Helpdesk_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferenceUser.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_HelpDesk_Case</name>
        <label>Create HelpDesk Case</label>
        <locationX>175</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UserData</targetReference>
        </connector>
        <fields>
            <name>BU_BS_ST_Fields</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Business_Unit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Business_Segment_new_helpdesk__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Business Segment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Support_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Support Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ComminityError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(26, 27, 26); background-color: rgb(255, 255, 255);&quot;&gt;Please choose &lt;/span&gt;&lt;strong style=&quot;color: rgb(26, 27, 26); background-color: rgb(255, 255, 255);&quot;&gt;&quot;Access &amp;amp; License Management&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(26, 27, 26); background-color: rgb(255, 255, 255);&quot;&gt; if you wish to submit a case for the creation or deactivation of a new portal/community user.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Community  Support</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Access_type</name>
            <choiceReferences>AccessType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Access type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Access &amp; License Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Type</name>
            <choiceReferences>UserType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Non-System Admin</stringValue>
            </defaultValue>
            <fieldText>User Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>Access_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Existing User Deactivation</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Access_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Existing User Activation</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Access_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New User</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UserCommunityMsg</name>
            <fieldText>&lt;p&gt;Please fill &quot;&lt;strong&gt;Community User Management Template&lt;/strong&gt;&quot; available under Quick Links and upload it to this Case in the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>User_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Community</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Access_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Community_type</name>
            <choiceReferences>Communitytype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Community type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Community  Support</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffectedUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Affected_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Affected User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>currrentUser</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Urgent</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Regular</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Regular</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Files</name>
        <label>Files</label>
        <locationX>1815</locationX>
        <locationY>862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Showing_Message</targetReference>
        </connector>
        <fields>
            <name>File_Attachments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Showing_Message</name>
        <label>Showing_Message</label>
        <locationX>1946</locationX>
        <locationY>862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Your HelpDesk case is created. Please check your email box for case details!!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Navigate to helpdesk case record : &lt;/strong&gt;&lt;a href=&quot;{!recordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;&lt;strong&gt;{!Get_Helpdesk_Case_Created_Record.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserData</name>
        <label>User Data</label>
        <locationX>179</locationX>
        <locationY>668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Record_Type_Based_On_Business_Unit</targetReference>
        </connector>
        <fields>
            <name>User_First_Name</name>
            <dataType>String</dataType>
            <fieldText>User First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Condition1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>User Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Condition1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Email_Address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Condition1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Helpdesk_Fields.FC_User_Id__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CPQLicence</name>
            <choiceReferences>varCPQLicence</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>CPQ Licence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReportingMnager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Reporting_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reporting Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>CPQLicence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FC_Role</name>
            <choiceReferences>varFCRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>FC Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Access &amp; License Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Access_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New User</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Non-System Admin	</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>System Admin	</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SAPEmployeenumber</name>
            <dataType>String</dataType>
            <fieldText>SAP Employee Number/Personnel Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FC_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Sales Manager</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FC_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>OFO</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FC_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CMO</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SAP_UserName</name>
            <dataType>String</dataType>
            <fieldText>SAP UserName</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FC_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Sales Manager</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FC_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>OFO</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FC_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CMO</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReferenceUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Reference_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reference User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_Activation_or_Deactivation</name>
            <dataType>String</dataType>
            <fieldText>Reason for Activation or Deactivation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Condition1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Region</name>
            <choiceReferences>varRegion</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>EMEA</stringValue>
            </defaultValue>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ReferenceUser.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Time_Zone</name>
            <choiceReferences>varTimeZone</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>(GMT+01:00) Amsterdam, Berlin, Brussels, Copenhagen, Madrid, Paris</stringValue>
            </defaultValue>
            <fieldText>Time Zone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ReferenceUser.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Locale</name>
            <choiceReferences>varLocale</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Dutch (Netherlands)</stringValue>
            </defaultValue>
            <fieldText>Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ReferenceUser.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Language</name>
            <choiceReferences>varLanguage</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>nl_NL</stringValue>
            </defaultValue>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Condition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BU_BS_ST_Fields.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SRM</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ReferenceUser.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>279</locationY>
        <connector>
            <targetReference>Create_HelpDesk_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Success&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessHourId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessPicklistAdd</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Helpdesk_Fields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>HelpDeskCaseRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HelpdeskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>None</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SRM</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID case requestor  the flow</description>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
